body {
    font-family: Arial, sans-serif;
    background-image: url('image/s-l1200.webp'); 
    background-size: cover; 
    background-position: center; 
}

#soundboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

.sample {
    background-color: #490ba5;
    color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border: 2px solid #FF0000; 
}

.sample:hover {
    background-color: #ca0909;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
    border-color: #000000; 
}

.sample:nth-child(n+5) {
    margin-top: 20px;
}
.grid-container {
    margin-top: 11%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    padding: 10px;
}

.grid-container > div {
    color: #000;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
}


.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
}
h1 {
    border: 2px solid #0a0094; /* Border for the footer */
    background-color: #7a2a8c;
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
}

footer {
    border: 2px solid #0a0094; /* Border for the footer */
    background-color: #7a2a8c;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}




